@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --gradient-clear: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
  --gradient-hot: linear-gradient(to top, #fffc00, #ffffff);
  --gradient-cold: linear-gradient(to top, #43c6ac, #f8ffae);
  --gradient-rainy: linear-gradient(to top, #4b79a1, #283e51);
  --bdr-radius: 5px;
}

body {
  font-family: var(--font-family);
  background: var(--gradient-rainy);
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 100%;
}

input {
  min-height: 28px;
  border: 2px solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  outline: none;
  border-radius: var(--bdr-radius);
  padding: 8px 16px;
}

input:focus {
  border: 2px solid rgb(124, 138, 255);
}

input[type='submit'] {
  cursor: pointer;
}

main {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon {
  width: 100px;
}

.temp {
  font-size: 2.5rem;
}

/* toggle */

label {
  cursor: pointer;
}

input[type='checkbox'] {
  display: none;
}

.content {
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content::before {
  content: ' ';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transition: all 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input[type='checkbox']:checked + .content::before {
  transform: translateX(25px);
}

input[type='checkbox']:checked + .content {
  background-color: green;
}
