@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --txt-clr-prm: black;
  --bg-clr-prm: white;
  --search-bg-clr: white;
  --toggle-bg-clr: white;
  --toggle-btn-txt-clr: white;
  --toggle-btn-bg-clr: #3b3b3b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-clr-prm: #e8e6e3;
    --bg-clr-prm: #191919;
    --search-bg-clr: #3b3b3b;
    --toggle-bg-clr: #3b3b3b;
    --toggle-btn-txt-clr: black;
    --toggle-btn-bg-clr: white;
  }
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  color: var(--txt-clr-prm);
  background-color: var(--bg-clr-prm);
}

#root {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  min-height: 100vh;
}

input[type='search'] {
  border: none;
  text-align: center;
  outline: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  color: var(--txt-clr-prm);
  background-color: var(--search-bg-clr);
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  animation: fadeIn 900ms ease;
}

.display {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  border-radius: 10px;
  width: min(500px, 100%);
  padding: 1em;
  background: linear-gradient(to right, #8360c3, #2ebf91);
  text-align: center;
  animation: fadeIn 300ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* loaders styles */
/* credit: https://cssloaders.github.io/ */

.loader {
  position: relative;
  width: 120px;
  height: 140px;
  background-image: radial-gradient(
      circle 30px,
      var(--txt-clr-prm) 100%,
      transparent 0
    ),
    radial-gradient(circle 5px, var(--txt-clr-prm) 100%, transparent 0),
    radial-gradient(circle 5px, var(--txt-clr-prm) 100%, transparent 0),
    linear-gradient(var(--txt-clr-prm) 20px, transparent 0);
  background-position: center 127px, 94px 102px, 16px 18px, center 114px;
  background-size: 60px 60px, 10px 10px, 10px 10px, 4px 14px;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 500px;
}
.loader::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--txt-clr-prm);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}
.loader::after {
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg);
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  border: 7px solid #ff3d00;
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg);
  }
}

/* toggle */

input[type='checkbox'] {
  display: none;
}

.toggle {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  animation: fadeIn 600ms ease;
}

.content {
  cursor: pointer;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  transition: background-color 300ms ease;
  position: relative;
  border-radius: 50px;
  background-color: var(--toggle-bg-clr);
}

.content::after {
  content: '°C';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 300ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--toggle-btn-txt-clr);
  background-color: var(--toggle-btn-bg-clr);
  /* use gradient for background */
}

input[type='checkbox']:checked + .content::after {
  content: '°F';
  transform: translateX(30px);
}
